.venv/
features/
devset-stt/

videm_clips_palettes/
devset-seconds-watched/
# i checked the above 2 folders 
# but don't think their content will be of any help while MODEL CREATION

# FRAMES folder (got from Rukiye hoca), i think it might be helpful
frames/

.env
__pycache__